body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: black;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.auth-card {
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.auth-header {
    text-align: center;
    margin-bottom: 30px;
}

    .auth-header h1 {
        font-size: 32px;
        color: white;
        margin-bottom: 10px;
    }

.form-field {
    margin-bottom: 22px;
}

    .form-field label {
        display: block;
        font-weight: 600;
        margin-bottom: 12.5px;
        color: white;
        font-size: 16px;
    }

    .form-field input {
        width: 100%;
        padding: 18px 20px;
        font-size: 17px;
        border: 2px solid #eee;
        border-radius: 12px;
        background-color: black;
        box-sizing: border-box;
        color: white;
    }

        .form-field input:focus {
            outline: none;
            background-color: black;
            box-shadow: 0 0 0 2px;
        }

.text-danger {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.btn-primary {
    width: 100%;
    padding: 18px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

    .btn-primary:hover {
        background-color: royalblue;
    }

.auth-footer {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

    .auth-footer a {
        color: red;
        text-decoration: underline;
        font-weight: 600;
    }
