body, html {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.nav-container, .site-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}

.site-header {
    background-color: black;      
}

.main-nav {
    height: 70px;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;    
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: blue;
}


.site-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-footer {
    padding: 20px 0;
    background: black;    
    text-align: center;   
    color: black;
}

.site-footer div {
    color: white;
}
